# Node.js
node_modules/

# TypeScript
*.tsbuildinfo
*.js
*.map

# npm lock file
package-lock.json

# Visual Studio Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db


#Astro files
astro.config.mjs

# Test files
src/components

